<html>

<head>
    <title>VxPRO | Profile Server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body class="vxbody">
    <header class="vxheader">
        <span class="vxtitle">VxPRO Profile Server</span>
    </header>
    <span id="top"></span>
    <div class="container">

        <h1>Profile API</h1>

        <p><strong>Definitions</strong></p>
        <p>"{{parameter}}"" - a value provided by a user or returned by the API</p>
        <p>"value" - static value, should be sent "as-is" or returned by the API</p>

        <h3>Old API <a href="#oldapi" style="margin-left: 32px;">GOTO</a></h3>
        <h3>Authenticate <a href="#_authenticate" style="margin-left: 32px;">GOTO</a></h3>
        <h3>Old User API <a href="#_old_users" style="margin-left: 32px;">GOTO</a></h3>
        <h3>Roles <a href="#_roles" style="margin-left: 32px;">GOTO</a></h3>
        <h3>Properties <a href="#_props" style="margin-left: 32px;">GOTO</a></h3>
        <h3>Reset <a href="#_reset" style="margin-left: 32px;">GOTO</a></h3>
        <h3>Registation <a href="#_registration" style="margin-left: 32px;">GOTO</a></h3>
        <h3>V1 API <a href="#v1api" style="margin-left: 32px;">GOTO</a></h3>

        <!-- oldapi -->
        <span id="oldapi"></span>
        <div id="debug_api">
            <h2>GET /debug<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Test api to validate X-Client-Id and X-Client-Secret header.
            </p>

            <h2>GET /info<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Information about the server.
            </p>
            <p><strong>Response (typical):</strong></p>
            <p> Profile Server<br>
                Threads: 32<br>
                Configured Ports: 8081,8481<br>
                Ports: 8081,8481<br>
            </p>
        </div>
        <div id="stop">
            <h2>POST /stop<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Shut down the server</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "magic": "hello"
        }
        </pre>
        </div>

        <span id="_authenticate"></span>
        <h1>Authenticate</h1>
        <div id="authenticate_pin">
            <h2>POST /pin<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Authenticate with pin</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "username": "{{user}}",
            "pin": "1234"
        }
    </pre>
            <p><strong>Response:</strong></p>
            <pre></pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>400 - bad request</p>
            <p>403 - wrong pin/not authorized</p>
        </div>

        <div id="authenticate_password">
            <h2>POST /authenticate<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Authenticate with username/password</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "grant_type": "password",
            "username": "{{user}}",
            "password": "123"
        }        
    </pre>
            <p><strong>Response:</strong></p>
            <pre>
        {
            "roles": [
                "admin",
                "other",
                "user"
            ]
        }
        </pre>
            <p>200 - ok</p>
            <p>400 - bad request</p>
            <p>403 - not authorized</p>
        </div>

        <span id="_old_users"></span>
        <h1>Users (old api)</h1>
        <div id="create_user_old">
            <h2>POST /users/{{username}} (deprecated)<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Create/update user</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "password": "123",
            "pin": "1234",
            "email": "some@daff.com",
            "roles": [
                "admin",
                "other",
                "user"
            ],
            "properties": {
                "description": "daff",
                "prop1": "val1-1",
                "prop2": "val2-1"
            }
        }
    </pre>
            <p><strong>Response:</strong></p>
            <pre>none</pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>400 - bad request</p>
            <p>403 - not authorized</p>
        </div>

        <div id="delete_user_old">
            <h2>DELETE /users/{{username}} (deprecated)<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Delete user.</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        </pre>
            <p><strong>Response:</strong></p>
            <pre>none</pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>400 - bad request</p>
            <p>403 - not authorized</p>
        </div>

        <div id="get_user_profile">
            <h2>GET /users/{{username}} (deprecated)<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Retrieve user data</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Response:</strong></p>
            <pre>
        {
            "id": "123478",
            "email": "some@daff.com",
            "roles": [
                "admin",
                "other",
                "user"
            ]
        }     
        </pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>400 - bad request</p>
            <p>403 - not authorized</p>
        </div>

        <span id="_roles"></span>
        <h1>Roles</h1>
        <div id="all_roles">
            <h2>GET /roles<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Retrieve all role names</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Response:</strong></p>
            <pre>
        {
            "roles": [
                "role1",
                "role2"
            ]
        }
    </pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>403 - not authorized</p>
        </div>

        <div id="get_rope_prop">
            <h2>GET /roles/{{role}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Get role's properties.</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Response:</strong></p>
            <pre>
        {
            "description": "role description"
        }
    </pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>403 - not authorized</p>
        </div>

        <div id="upbdate_role">
            <h2>POST /roles/{{role}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Add/update role</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Reqiest:</strong></p>
            <pre>
        {
            "description": "role description"
        }
        </pre>
            <p><strong>Response:</strong></p>
            <pre>none</pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>404 - bad request</p>
            <p>403 - not authorized</p>
        </div>

        <div id="delete_role">
            <h2>DELETE /roles/{{role}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Delete role by name</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>403 - not authorized</p>
        </div>

        <span id="_props"></span>
        <h1>Properties</h1>
        <div id="get_user_props">
            <h2>GET /users/{{user}}/properties<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Response:</strong></p>
            <pre>
        {
            "properties" : {
                "prop1": "val1",
                "prop2": "val2"
            }
        } 
        </pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>403 - not authorized</p>
        </div>

        <div id="get_user_specific_prop">
            <h2>GET /users/{{user}}/properties/{{prop}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Response:</strong></p>
            <pre>
        {
            "prop": "val"
        } 
        </pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>403 - not authorized</p>
        </div>

        <div id="update user properties">
            <h2>POST /users/{{user}}/properties<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "prop1": "val1",
            "prop2": "val2"
        } 
        </pre>
            <p><strong>Response:</strong></p>
            <pre>none</pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>403 - not authorized</p>
        </div>

        <div id="save_blob">
            <h2>POST /users/{{username}}/blob/{{blobname}}<a href="#top"
                    style="margin-left: 32px;font-size: small; "><span style="font-size:x-large;">⬆</span></a></h2>
            <p>Save BLOB property. Max size = 65535. To test out you can access /blob.html to post some data to the
                profile
                of user 'vxdemo'. This user should exist. Otherwise an API will fail.</p>

            <h3>Post JSON data</h3>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            content_type: "{{proper content type}}|empty",
            encoding_type: "base64|empty",
            blob: "some blob data"
        }        
        </pre>
            <p><b>content_type</b> - (required) specify a type for the data</p>
            <p><b>encoding_type</b> - could be "base64". That allows to create an easy serializable JSON or value for
                url-encoded submission</p>

            <h3>Post Form data (application/x-www-form-urlencoded or multipart/form-data)</h3>
            <p>Header may not present, however X-Client-Id and X-Client-Secret should be provided as:<br>
                client_id={{client id value}}<br>
                client_secret={{client secret value}}<br>
            </p>
            <p>Also you should provide the following properties:<br>
                <b>content_type</b> - when submitting from the browser that could be automatically set. For URL-encoded
                should be provided by the callser.<br>
                <b>encoding_type</b> - see description above<br>
                <b>blob</b> - this property should contain a submitted data
            </p>
            <p><strong>Response:</strong></p>
            <p>200 - ok</p>
            <pre>
        {}       
        </pre>
            <p>400 - bad request, malformed data</p>
            <pre>
        {
            "error": "{{error code}}",
            "error_description": "{{error explanation}}"
        }       
        </pre>
            <p><strong>Error codes:</strong></p>
            <p> property_error- check error_description for details</p>
        </div>

        <div id="get_blob">
            <h2>GET /users/{{user}}/blob/{{blobname}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Retrieve stored blob propery. Could be used for streaming into the user profile web page or application.
                Maximum size for this data type is 65535. Primary use for avatars and other graphic elements.
            </p>
            <p><strong>Header:</strong></p>
            <p>NOTE: Not used at this point. However will be enforced later. To avoid problems later always include
                client
                id/secret headers.</p>
            <pre>
            X-Client-Id: {{configured client id}}
            X-Client-Secret: {{configured client secret}}
        </pre>

            <p><strong>Response:</strong></p>
            <pre>
            Content-Dispositon: inline
            Content-Type: {{stored content type}}
            Content-Length: {{size of data}}

            {{blob data}}
        </pre>

            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>404 - not found</p>
        </div>

        <span id="_reset"></span>
        <h1>Reset</h1>
        <div id="reset_by_email">
            <h2>POST /reset/token<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "email": "some@email.com"
        } 
        </pre>
            <p><strong>Response:</strong></p>
            <pre>
        {
            "token": "base64 encoded token"
        }
        </pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok</p>
            <p>403 - not authorized</p>
        </div>

        <div id="reset_password">
            <h2>POST /password/update<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Update password.</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "token": "xxxxxxxx",
            "password": "new_password"
        } 
        </pre>
            <p><strong>Response:</strong></p>
            <pre>none</pre>
            <p><strong>Response codes:</strong></p>
            <p>200 - ok. Password is updated</p>
            <p>404 - bad request</p>
            <p>403 - not authorized</p>
        </div>

        <span id="_registration"></span>
        <h1>Registation</h1>
        <div id="register_user">
            <h2>POST /register<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>New user registration. Ater a successful call to this API a registration has to be confirmed using a
                reset_token. A pending registration has a lifespan of 24 hours (default, could be reconfigured to any
                other
                value) . If a user will not confirm a registration during this period of time a registration record will
                cease to exist. A user has to register again.</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "username": "{{username}}",
            "password": "{{password}}",
            "email": "{{email}}",
            "pin": "{{pin}}"
        }        
        </pre>
            <p><strong>Response:</strong></p>
            <p>200 - ok</p>
            <pre>
        {
            "registration_code": "{{code to validate a registration}}",
            "reset_token": {{token to confirm from email}}
        }       
        </pre>
            <p>400 - bad request, malformed data, etc.</p>
            <pre>
        {
            "error": "{{error code}}",
            "error_description": "{{error explanation}}"
        }       
        </pre>
            <p><strong>Error codes:</strong></p>
            <p>invalid_registration - general error, see error_description</p>
            <p>List of messages:</p>
            <ul>
                <Li>email is required - when email field is empty</Li>
                <li>password is required - when password is empty or too short</li>
                <li>pin is required - when pin is empty or too short/too long</li>
                <li>username is required - when username is missing</li>
                <li>invalid email - when email format is wrong</li>
            </ul>

            <p>opration_failed - unable to register (when token cannot be obtained)</p>
        </div>

        <div id="register_validate">
            <h2>POST /register/validate<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Validate new user registration</p>
            <p><strong>Header:</strong></p>
            <pre>
        X-Client-Id: {{configured client id}}
        X-Client-Secret: {{configured client secret}}
        </pre>
            <p><strong>Request:</strong></p>
            <pre>
        {
            "registration_code": "{{registration_code}}"
        }        
        </pre>
            <p><strong>Response:</strong></p>
            <p>200 - ok</p>
            <pre>
        {
            "status": "{{retustation status}}"
        }       
        </pre>
            <p><strong>status codes:</strong></p>
            <p>pending - registration exists, still not confirmed</p>
            <p>completed - registation confirmed by clicking on the link in email</p>
            <p></p>
            <p>400 - bad request, malformed data</p>
            <pre>
        {
            "error": "{{error code}}",
            "error_description": "{{error explanation}}"
        }       
        </pre>
            <p><strong>Error codes:</strong></p>
            <p>invalid_registration - registration does not exist or other error, check error_description</p>
        </div>

        <div id="register_confirm">
            <h2>GET /register/confirm?code={{code}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Endpoint ro confirm a registration. Please note that a {{code}} should be a reset_token obtained by
                /register
                api call.</p>
            <p>Ater this call, if successful, a user will be registered and /register/validate will return a status
                "completed"</p>
        </div>

        <!-- v1api -->
        <span id="v1api"></span>
        <h1>V1 API</h1>

        <div id="search_user">
            <h2>GET /api/v1/users?{{query}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Search user profile.</p>
            <p><strong>Header:</strong></p>
            <pre>
            X-Client-Id: {{client_id}}
            X-Client-Secret: {{client_secret}}
        </pre>
            <p><strong>{{query}}:</strong></p>
            <ul>
                <li>username={{user_to_search}} searcn by username (exact), may include spaces or special characters
                </li>
                <li>email={{email_to_search}} search by email</li>
                <li>search={{search_criteria}} [ and {{search_criteria}}]
                    <p>
                        Search criteria is a set of expressions like<br>
                        {{column}} {{operator}} {{value}}<br>
                        From the profile email and username are available columns to search. All other columns are
                        property names.
                        If value is a string, should be passed in double quotes, numbers should be passed without double
                        quotes.<br>
                        List of operators: <strong>le,lt,eq,ne,gt,ge</strong>
                        <br>
                    </p>
                </li>

            </ul>
            <p><strong>Examples:</strong></p>
            <pre>
            /api/v1/users?search=username eq "someuser" and age gt 33
            /api/v1/users?username=someuser
            /api/v1/users?email=someuser@email.tld
            </pre>
            <!-- <p><strong>Request:</strong></p>
        <pre>
            {
                "password": {{new password}},
                "password_verify": {{new password 2nd time}},
                "password_old": "{{valid old password}}"
            }
        </pre> -->
            <p><strong>Response (sample):</strong></p>
            <p>200 - ok. Returned userid will be used for all other calls.</p>
            <pre>
                [
                    {
                        "email": "{{user_email}}",
                        "username": "{{username}}",
                        "logins": "1",
                        "last_login": "1628981826",
                        <strong>"userid": "15b0da3c-fd51-11eb-9c36-a85e453782da",</strong>
                        "roles": [
                            "admin",
                            "other",
                            "user"
                        ],
                        "properties": {
                            "description": "desc",
                            "prop1": "val1-1",
                            "prop2": "val2-1"
                        }
                    }        
                ]
            </pre>
            <p>404 - user not found</p>
            <pre>
            {
                "error": "{{error code}}",
                "error_description": "{{error explanation}}"
            }       
        </pre>
        </div>

        <div id="create_user">
            <h2>POST /api/v1/users<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Create user profile.</p>
            <p><strong>Header:</strong></p>
            <pre>
            X-Client-Id: {{client_id}}
            X-Client-Secret: {{client_secret}}
        </pre>
            <p><strong>Request (typical):</strong></p>
            <pre>
            {
                "username": "{{user}}",
                "password": "{{password}}",
                "pin": "1234",
                "email": "{{email}}",
                "roles": [
                    "admin",
                    "other",
                    "user"
                ],
                "properties": {
                    "description": "desc",
                    "prop1": "val1-1",
                    "prop2": "val2-1"
                }
            }
        </pre>
            <p><strong>Response:</strong></p>
            <p>200 - ok</p>
            <pre>
            {
                ... user profile data
            }       
        </pre>
            <p>404 - user not found</p>
            <pre>
            {
                "error": "{{error code}}",
                "error_description": "{{error explanation}}"
            }       
        </pre>
        </div>

        <div id="update_user">
            <h2>POST /api/v1/users/{{userid}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Update user profile.</p>
            <p><strong>Header:</strong></p>
            <pre>
            X-Client-Id: {{client_id}}
            X-Client-Secret: {{client_secret}}
        </pre>
            <p><strong>Request (typical), any portion of the profile could be updated:</strong></p>
            <pre>
            {
                "username": "{{user}}",
                "password": "{{password}}",
                "pin": "1234",
                "email": "{{email}}",
                "roles": [
                    "admin",
                    "other",
                    "user"
                ],
                "properties": {
                    "description": "desc",
                    "prop1": "val1-1",
                    "prop2": "val2-1"
                }
            }
        </pre>
            <p><strong>Response:</strong></p>
            <p>200 - ok</p>
            <pre>
            {
                ... user profile data
            }       
        </pre>
            <p>409 - conflict, username or email already taken</p>
            <pre>
            {
                "error": "{{error code}}",
                "error_description": "{{error explanation}}"
            }       
        </pre>
        </div>

        <div id="get_user">
            <h2>GET /api/v1/users/{{userid}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Search user profile.</p>
            <p><strong>Header:</strong></p>
            <pre>
            X-Client-Id: {{client_id}}
            X-Client-Secret: {{client_secret}}
        </pre>
            <!-- <p><strong>Request:</strong></p>
        <pre>
            {
                "password": {{new password}},
                "password_verify": {{new password 2nd time}},
                "password_old": "{{valid old password}}"
            }
        </pre> -->
            <p><strong>Response:</strong></p>
            <p>200 - ok</p>
            <pre>
            {
                ... user profile data
            }       
        </pre>
            <p>404 - user not found</p>
            <pre>
            {
                "error": "{{error code}}",
                "error_description": "{{error explanation}}"
            }       
        </pre>
        </div>

        <div id="delete_user">
            <h2>DELETE /api/v1/users/{{userid}}<a href="#top" style="margin-left: 32px;font-size: small; "><span
                        style="font-size:x-large;">⬆</span></a></h2>
            <p>Delete user profile.</p>
            <p><strong>Header:</strong></p>
            <pre>
            X-Client-Id: {{client_id}}
            X-Client-Secret: {{client_secret}}
        </pre>
            <p><strong>Response:</strong></p>
            <p>200 - ok</p>
            <pre>
            {
            }       
        </pre>
            <p>404 - user not found</p>
            <pre>
            {
                "error": "{{error code}}",
                "error_description": "{{error explanation}}"
            }       
        </pre>
        </div>
    </div>
    <footer></footer>
</body>

</html>