<html>
<style>
  header {
    background-color: rgb(48, 188, 237);
    height: 80px;
  }

  .vxtitle {
    font-size: 32;
    color: whitesmoke;
    padding-left: 40px;
    font-weight: 900;
    padding-top: 40px;
    line-height: 2.4;
  }

  button {
    min-width: 250px;
    background-color: #007bff;
    border-color: #0060ff;
    display: inline-block;
    font-weight: 400;
    color:#FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  button a {
    color: #fff;
    text-decoration-line: none;
  }
</style>

<body>
  <header>
    <span class="vxtitle">{{title}}</span>
  </header>
  <h1>Hello.</h1>
  <p><strong>{{confirm_message}}</strong></p>
  <button><a href="{{url}}">Confirm</a></button>

  <p>{{disclaimer}}</p>

  <p>Sincerely,<br>
    &nbsp;&nbsp;&nbsp;{{signature}}</p>
  
  <p>Server Request date: {{date()}}</p>
</body>

</html>
