<html>
<body>
<style>
  .column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>
<h1>Hello.</h1>

<p><span>This is a happy face - <img src="cid:smile@here"></span></p>
<p><span>This is a frown face - <img src="cid:frown@here"></span></p>
<p><span>This is a base64 decoded text - [{{base64decode(base)}}]</span></p>
{{signature}}
{% if exists("titles") %}
<div>
  <div class="row" style="background-color: gainsboro;">
  {% for f in titles %}
      <div class="column">[{{f}}]</div>
  {% endfor %}
  </div>
  <div class="row">
    <div class="column">
    {% for c in col1 %}
      <div>{{c}}</div>
    {% endfor %}
    </div>
    <div class="column">
      {% for c in col2 %}
        <div>{{c}}</div>
      {% endfor %}
    </div>
  </div>

</div>
{% endif %}
</body>
</html>
