<span id="introspect"></span>
<div>
    <h2>/POST /oauth2/(server_id)/api/v1/introspect<a href="#top"
        style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
<p>Retrieve metadata about id, access and refresh tokens. Property "active" in the return payload shows whether a 
    provided token is valid and active or not. This API responds with 200 code and returns a value for "active" as false
    for invalid or expired tokens.</p>
<p>
    server_id - is a parameter, defined in the config.json file, if not present a value "default" will
    be used.
</p>

<p>This API requires an authentication (client id/secret as a part of a payload or basic authorization). Please note that for PKCE
    flow only client_id could be provided</p>

<p><strong>Request query parameters.</strong></p>
<table>
    <thead class="thead">
        <th>Parameter</th>
        <th>Description</th>
    </thead>
    <tbody class="tbody">
        <tr>
            <td>token</td>
            <td>token data</td>
        </tr>
        <tr>
            <td>token_type_hint</td>
            <td>Could be one of the following: <strong>access_token</strong>, <strong>id_token</strong> or <strong>refresh_token</strong> </td>
        </tr>
    </tbody>
</table>
</div>
