<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Test endpoints<a href="#test_flow" style="margin-left: 32px;">GOTO</a></h3>
<p>
    To access those endpoints a token has to be obtained first and provided in the Authorization header.
</p>

{{definitions}}

<span id="test_flow"></span>
<div>
    <h2>POST /test<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Echo request using any role</p>
    <p><strong>Header:</strong></p>
    <pre>
            Authorization: bearer [[jwt token]]
    </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                ... any data
            }
    </pre>
    <p><strong>Response:</strong></p>
    {{test_response}}
</div>

<div>
    <h2>POST /test/admin<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Echo request using role 'admin'. Make sure a user has this role</p>
    <p><strong>Header:</strong></p>
    <pre>
            Authorization: bearer [[jwt token]]
    </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                ... any data
            }
    </pre>
    <p><strong>Response:</strong></p>
    {{test_response}}
</div>

<div>
    <h2>POST /test/user<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Echo request using role 'user'. Make sure a user has this role</p>
    <p><strong>Header:</strong></p>
    <pre>
            Authorization: bearer [[jwt token]]
    </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                ... any data
            }
    </pre>
    <p><strong>Response:</strong></p>
    {{test_response}}
</div>


<div>
    <h2>POST /test/other<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Echo request using role 'other'. Make sure a user has this role</p>
    <p><strong>Header:</strong></p>
    <pre>
            Authorization: bearer [[jwt token]]
    </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                ... any data
            }
    </pre>
    <p><strong>Response:</strong></p>
    {{test_response}}

</div>