<span id="logout"></span>
<div>
    <h2>/GET /oauth2/(server_id)/api/v1/logout<a href="#top"
        style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
<p>Drops user's session and revoke ID token. Returns an error only if ID token is invalid. Otherwise redirects to specified logout URL.</p>
<p>
    server_id - is a parameter, defined in the config.json file, if not present a value "default" will
    be used.
</p>

<p><strong>Request query parameters.</strong></p>
<table>
    <thead class="thead">
        <th>Parameter</th>
        <th>Description</th>
    </thead>
    <tbody class="tbody">
        <tr>
            <td>id_token_hint</td>
            <td>ID token</td>
        </tr>
        <tr>
            <td>post_logout_redirect_uri</td>
            <td>Specifies a target URL to be redirected to after a logout</td>
        </tr>
        <tr>
            <td>state</td>
            <td>opaque value to pass to the logout URL.</td>
        </tr>
    </tbody>
</table>
</div>
