<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Reset password flow</h3>
<p>To reset the password a user has to provide an email. Upon a confirmation a user will receive an email and click
    on the link to update a password. This operation is one-time only. It is not possible to reset a password again
    using the same link.
</p>
<p>It is also possible after a password reset request has been submitted to verify the status using a reset
    token obtain using /reset endpoint. 
</p>

{{definitions}}

<span id="reset_flow"></span>
<div>
    <h2>POST /reset<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Password reset request.After this call (if successful) a confirmation email will be sent to a provided email
        address. Email
        will contain a link. By clicking on that link a user should fill-in the form to update a password.
    </p>
    <p>To receive a reset_token profile_provider.send_token should be set to "on" in config.json. Use this option
        only for debug purposes.
        Otherwise it is possible to automate a registration without using emails.
    </p>
    <pre>
            {
                ...
                "profile_provider": {
                    "send_token": "on",
                    ...
                }
            }        
    </pre>
    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
    </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "email": "[[user email]]"
            }
    </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok (when sending token is not enabled in config.json)</p>
    <pre>
            {
            }       
    </pre>
    <p>200 - ok (when sending token is enabled in config.json)</p>
    <pre>
            {
                "reset_token": "[[reset token]]""
            }       
    </pre>
    <p>reset_token - will be sent to the an email to confirm a registration</p>
    <p>400 - bad request, malformed data</p>
    <pre>
            {
                "error": "[[error code]]",
                "error_description": "[[error explanation]]"
            }       
    </pre>
    <p><strong>Error codes:</strong></p>
    <p>service_error - invalid parameters, etc</p>
</div>

<div>
    <h2>POST /reset/verify<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Verify that reset token is still valid. Useful for polling from UI.
    </p>
    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
    </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "reset_token": "[[reset_token]]"
            }
    </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok (when sending token is not enabled in config.json)</p>
    <pre>
            {
                "status":"pending"
            }       
    </pre>
    <p>400 - error (when reset_token is invalid or does not exist)</p>
    <pre>
            {
                "error": "[[error_code]]"
                "error_description": "invalid \"token\""
            }       
    </pre>
</div>


<div>
    <h2>GET /reset/confirm?code=[[code]]<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Endpoint ro receive an HTML to enter new password.</p>
    <p>config.json parameters:</p>

    <pre>
            {
                ...
                "profile_provider": {
                    ...
                    "reset_html": "update_password.html", <strong>(deprecated and removed)</strong>
                    "reset_success_url": "/register/success",
                    "reset_failure_url": "/register/failure",
                    "reset_email": "email_reset.html",
                    "reset_email_title": "Password reset @ VxPRO"
                    ...
                }
            }        
    </pre>
</div>

<div>
    <h2>POST /reset/update<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Endpoint to update a password.</p>
    <p><strong>Request:</strong></p>
    <p>application/x-www-form-urlencoded data:</p>
    <pre>
            password=[[password]]&confirm_password=[[password]]&token=[[token]]
    </pre>

    <p>As the result a browser will be redirected to success or failure URL confirured in config.json</p>
</div>