<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Email endpoints<a href="#email_api" style="margin-left: 32px;">GOTO</a></h3>
<p>
    /mail/send and /mail/sendasync endpoints
</p>

{{definitions}}

<span id="email_api"></span>
<div>
    <h2>POST /mail/send (/mail/sendasync)<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Send multipart email using server template.</p>
    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "from": "[[email_from]]",
                "to": "[[email_to]]",
                "subject": "[[subject]]",
                "template": "[[template_name]]",
                "data": {
                    "stringkey": "value",
                    "array_key": ["first", "second"],
                    ...
                },
                "attachments": {

                    Those attachments will be loaded from either "data" element or 
                    from the template data
                    "[[existing_key]]": {
                        "content-type": "[[content_type_for_the_data]]"
                    },
                    ...

                    Those are "inline" attachment provided just here with the request
                    "[[attachemnt_id]]": {
                        "content-type": "[[attachment_content_type]]",
                        "filename": "[[filename_for_attachment]]",
                        "data": "[[base64_encoded_data_for_attachment]]"
                    }
                    ...
                    }
            }
        </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok. Send email is successful. Please note that for "async" version that response code
        doesn't guarantee a successful email dispatch, it is just an indication that an email has
        been queued successfully having all parameters verified and final email has been rendered.
    </p>
    <p>400 - bad request, some parameters are malformed, etc., check error_description field</p>
    <pre>
            {
                "error": "[[error code]]",
                "error_description": "[[error explanation]]"
            }       
        </pre>
    <p><strong>Error codes:</strong></p>
    <p>email_error - always this code</p>
    <p>500 - fatal error</p>
    <pre>
            {
                "error": "[[error code]]",
                "error_description": "[[error explanation]]"
            }       
        </pre>
    <p><strong>Error codes:</strong></p>
    <p>email_error - always this code</p>

</div>