    <span id="verifier_sample"></span>
    <div>
        <h2>Sample code to generate code challenge in JavaScript:</h2>
        <pre>
        <code>
            var base64_table = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";

            function random_alpha(len) {
                let result = '';
                let idx;
                for (let i = 0; i < len; i++) {
                    idx = Math.floor(Math.random() * 62);
                    result += base64_table[idx];
                }
                return result;
            }

            async function digest256(message) {
                const encoder = new TextEncoder();
                const data = encoder.encode(message);
                const hash = await crypto.subtle.digest('SHA-256', data);
                return hash;
            }
              
            function buffer2base64(buf) {
                var b64 = btoa(String.fromCharCode.apply(null, new Uint8Array(buf)));
                return b64;
            }

            ... some code ...

            var code_verifier = random_alpha(16);
            var code_challenge_hash = await digest256(code_verifier);
            var code_challenge = buffer2base64(code_challenge_hash);

        </code>
        </pre>

    </div>
