<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Miscellaneous endpoints<a href="#misc_flow" style="margin-left: 32px;">GOTO</a></h3>
<p>
    /info and /debug endpoints
</p>

{{definitions}}

<span id="misc_flow"></span>
<div>
    <h2>GET /info<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Information about the server.
    </p>
    <p><strong>Response (typical):</strong></p>
    <p> Token Server<br>
        Threads: 32<br>
        Configured Port: 8082<br>
        Port: 8082<br>
        Token provider: mysql<br>
        Profile service: mysql<br>
        Token TTL(s): 300<br>
    </p>
</div>

<div>
    <h2>GET /debug<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Test api to validate X-Client-Id and X-Client-Secret header.
    </p>
</div>