<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Update credentials flow</h3>
<p>A user may update a password only when an old password is provided and a user is authenticated with valid JWT
    token</p>
<p>A user may update a pin only if a valid token is provided.</p>

{{definitions}}

<span id="cred_flow"></span>
<div>
    <h2>POST /password</h2>
    <p>Endpoint to update a password.</p>
    <p><strong>Header:</strong></p>
    <pre>
            Authorization: bearer [[jwt token]]
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "password": [[new password]],
                "password_verify": [[new password 2nd time]],
                "password_old": "[[valid old password]]"
            }
        </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok</p>
    <pre>
            {
            }       
        </pre>
    <p>400 - bad request, malformed data</p>
    <pre>
            {
                "error": "[[error code]]",
                "error_description": "[[error explanation]]"
            }       
        </pre>
</div>

<div>
    <h2>POST /pin<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Endpoint to update a pin.</p>
    <p><strong>Header:</strong></p>
    <pre>
            Authorization: bearer [[jwt token]]
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "pin": [[new pin]],
                "pin_verify": [[new pin 2nd time]],
            }
        </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok</p>
    <pre>
            {
            }       
        </pre>
    <p>400 - bad request, malformed data</p>
    <pre>
            {
                "error": "[[error code]]",
                "error_description": "[[error explanation]]"
            }       
        </pre>
</div>