<span id="top"></span>
<h1>Identity provider server.</h1>

{{definitions}}

<h3>OpenID Connect & OAuth 2.0<a href="/help/openid" style="margin-left: 32px;">GOTO</a></h3>
<p>
    Implementation of the <a href="{{url_oauth2}}">Oauth 2</a> and <a href="{{url_openid}}">OpenID Connect</a>
    standards.
    Authorization server supports minimally required functionality according to the provided standards.<br>
    OAuth 2 provides a way to secure API andpoints using scoped tokens, OpenID Connect extends that to support SSO
    (single sign on) sessions.
</p>

<h3>Resource owner authentication flow<a href="/help/auth" style="margin-left: 32px;">GOTO</a></h3>
<p>At first a new token has to be obtained using password grant. An identity token (access_token property) is
    returned in the response. When a token is expired it could be automatically refreshed if a refresh_token is
    available.
    Otherwise a user should enter a PIN to validate.
</p>

<h3>Registration flow<a href="/help/reg" style="margin-left: 32px;">GOTO</a></h3>
<p>To register a request should be sent with minimum required information. If a user can be registered a
    confirmation
    email will be sent. By clicking on the link a user will confirm the registration. There is an API
    (/register/validate) to check the
    registration status while a user is confirming a registration.
</p>

<h3>Reset password flow<a href="/help/reset" style="margin-left: 32px;">GOTO</a></h3>
<p>To reset the password a user has to provide an email. Upon a confirmation a user will receive an email and click
    on the link to update a password. This operation is one-time only. It is not possible to reset a password again
    using the same link.
</p>

<h3>Update credentials flow<a href="/help/cred" style="margin-left: 32px;">GOTO</a></h3>
<p>A user may update a password only when an old password is provided and a user is authenticated with valid JWT
    token</p>
<p>A user may update a pin only if a valid token is provided.</p>

<h3>Test endpoints<a href="/help/test" style="margin-left: 32px;">GOTO</a></h3>
<p>
    To access those endpoints a token has to be obtained first and provided in the Authorization header.
</p>

<h3>Miscellaneous endpoints<a href="/help/misc" style="margin-left: 32px;">GOTO</a></h3>
<p>
    /info and /debug endpoints
</p>

<h3>Email endpoints <strong>(deprecated)</strong><a href="/help/email" style="margin-left: 32px;">GOTO</a></h3>
<p>
    /mail/send and /mail/sendasync endpoints
    Using custom HTML and text templates to construct email messages.
</p>

<h3>Public authentication<a href="/help/public" style="margin-left: 32px;">GOTO</a></h3>
<p>Obtain a session token using public authentication. Session token could be used for Authorization code flow.
</p>