<span id="authorize"></span>
<div>
    <h2>/GET or /POST /oauth2/(server_id)/api/v1/authorize<a href="#top"
            style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Authorization API, client send a request to this endpoint to initiate an authentication process.
        Depending on the flow a callback will provide a parameters to continue with the flow. For example,
        for authorization code flow a callback will contain a "code" and the "state". A "code" then could be
        used to exchange it for a token. If user is successfully authenticated a "session cookie" will be set
        to maintain SSO login for the user.
    </p>
    <p>
        server_id - is a parameter, defined in the config.json file, if not present a value "default" will
        be used.
    </p>

    <p><strong>Header:</strong></p>
    <pre>
            none
    </pre>
    <p><strong>Request query parameters, defined in OAuth 2 specification:</strong></p>
    <table>
        <thead class="thead">
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
        </thead>

        <tbody class="tbody">
            <tr>
                <td>scope</td>
                <td>space delimited list of registered scope names. Must have at least one scope: openid. Any scope
                    that
                    is not supported will be ignored. </td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>response_type</td>
                <td>could be a combination of the follwing values: <strong>code</strong>, <strong>token</strong> and
                    <strong>id_token.
                        <p>
                            <table class="in-table">
                                <thead>
                                    <th>Flow</th>
                                    <th>Parameters</th>
                                    <th>Notes</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Implicit</td>
                                        <td>token<br>token id_token</td>
                                        <td>response_mode cannot be "query"</td>
                                    </tr>
                                    <tr>
                                        <td>Hybrid</td>
                                        <td>code id_token<br>
                                            code id_token token<br>
                                            code token
                                        </td>
                                        <td>response_mode cannot be "query"</td>
                                    </tr>
                                    <tr>
                                        <td>Authorization code/PKCE</td>
                                        <td>code</td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                </td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>client_id</td>
                <td>Registered client identifier. Should be provided in the configuration. In case of the error a
                    redirect won't occur.</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>redirect_uri</td>
                <td>Registered url to receive a callback with a code or a token. If not configured properly a 400
                    error
                    code will be returned.
                    Must match one of the configured callback urls on
                    the server (callback_uri parameter in the configuration)
                </td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>state</td>
                <td>Client-generated state. Will be returned back to the redirect endpoint.</td>
                <td>Recommended</td>
            </tr>
            <tr>
                <td>response_mode</td>
                <td>Could be one of the follwing: <strong>fragment</strong>, <strong>form_post</strong>,
                    <strong>query</strong>. For id_token and token response types
                    query mode is not allowed.<br>
                    Check a documentation regarding <a href="https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html">form_post</a> mode:
                </td>
            </tr>

            <tr>
                <td>sessionToken</td>
                <td> token obtained via <a href="/help/public#auth_public">public authentication API</a></td>
            </tr>
        </tbody>

    </table>

    <p><strong>Request query parameters to authorize client after authentication using public authentication
            API.</strong></p>
    <table>
        <thead class="thead">
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
        </thead>
        <tr>
            <td>sessionToken</td>
            <td> token obtained via <a href="/help/public#auth_public">public authentication API</a></td>
        </tr>

    </table>

    <p><strong>Request query parameters to support PKCE flow.</strong></p>
    <table>
        <thead class="thead">
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
        </thead>
        <tbody class="tbody">
            <tr>
                <td>code_challenge</td>
                <td>hash created for PKCE flow. Algorithm is base64(sha256(code_verifier)). A hash sent to the
                    server could use base64 or base64url alphabet and may or may not include a padding character
                    "=". During verification process padding charecters are ignored.
                    Check <a href="#verifier_sample">this sample code in JavaScript</a> to see how to generate
                    a hash.
                </td>
            </tr>
            <tr>
                <td>code_challenge_method</td>
                <td>hash method. Supported hash types: S256, S512 (extension). Required if code_challenge is not
                    empty.
                </td>
            </tr>
        </tbody>

    </table>

    <p><strong>Additional request query parameters and compiled from the list of commonnly used.</strong></p>
    <table>
        <thead class="thead">
            <th>Parameter</th>
            <th>Description</th>
            <th>Required</th>
        </thead>

        <tbody class="tbody">
            <tr>
                <td>nonce</td>
                <td>Used to mitigate replay attacks, will be put into a resulted token.</td>
            </tr>
            <tr>
                <td>prompt</td>
                <td>Should be set to 'none'. List of valid values: consent, login.</td>
            </tr>
            <tr>
                <td>display</td>
                <td>Will be passed to social login IDP provilder. (not supported)</td>
            </tr>
            <tr>
                <td>idp_scope</td>
                <td>scopes for social login (not supported)</td>
            </tr>
            <tr>
                <td>idp</td>
                <td>IDP provider to use if session is not created (not supported)</td>
            </tr>
            <tr>
                <td>login_hint</td>
                <td>Username to put to the login dialog (not supported)</td>
            </tr>
            <tr>
                <td>max_age</td>
                <td>Max time in seconds for the session to be valid. Currently is used from the config only.</td>
            </tr>
            <tr>
                <td>request</td>
                <td>JWT token containing parameters from this list of options. (not supported)</td>
            </tr>
        </tbody>

    </table>
    <p><strong>Response:</strong></p>
    <p>If all the parameters are correct a response will be received on the configured 'redirect_uri'</p>
</div>
