<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Resource owner authentication flow.</h3>
<p>At first a new token has to be obtained using password grant. An access token (access_token property) is
    returned in the response. When a token is expired it could be refreshed if a refresh_token is
    available. Before refresh token expiration if refresh token is not available it is possible to obtain access
    token using PIN. After refresh token expired a new relogin is required using username/password.
</p>
<p>
    Note: there is a setting <strong>"pin_after_expiration"</strong> in confg.json, if set to "on" an authentication
    using PIN
    could be indefinitely used. That may pose a serious security risk because there is no limit to the number
    of attempts and server is not blocking those. Use this only for debugging purposes only.
</p>
<p>
    All requests require a client authentication. For this purpose a header should contain 2 elements like in this example:
</p>
<code>
    X-Client-Id: [[configured client id]]
    X-Client-Secret: [[configured client secret]]
</code>
<p>
    Client id and secret are configured in config.json:
</p>
<code>
{
    ...
    "clients": [
        {
            "client": "secret"
        },
        ...
    ],
...
}
</code>
<p>
    If client id and secret headers are invalid when sending a request to the server, the following errors may occur:
</p>
<table>
    <thead class="thead2">
        <th>Code</th>
        <th>Description</th>
    </thead>
    <tbody class="tbody2">
        <tr>
            <td>400</td>
            <td>
                <p>Happens when client id and/or secret are missing</p>
                <code>
{
    "error": "ivalid_request",
    "error_description": "[[error explanation]]"
}       
                </code>
            </td>
        </tr>
        <tr>
            <td>401</td>
            <td>
                <p>Happens when client id or secret are wrong</p>
                <code>
{
    "error": "invalid_client",
    "error_description": "[[error explanation]]"
}       
                </code>
            </td>
        </tr>
    </tbody>
</table>

{{definitions}}

<table>
    <thead class="thead2">
        <th>Request</th>
        <th>Description</th>
    </thead>
    <tbody class="tbody2">
        <tr>
            <td><a href="#auth_flow">Password</a>
            </td>
            <td>
                Using password grant to authenticate a user. This request requires a client authentication.
            </td>
        </tr>
        <tr>
            <td><a href="#refresh">Refresh token</a>
            </td>
            <td>
                Using refresh_token grant to authenticate a user. This request requires a client authentication.
                Refresh token should exist on the server for this request to be successful.
            </td>
        </tr>
        <tr>
            <td><a href="#pin">PIN</a>
            </td>
            <td>
                Using pin grant to authenticate a user. This request requires a client authentication.
                Refresh token should exist on the server for this request to be successful. There is a
                limited number of attempts to re-validate and obtain a token. Currently it is configured to maximum
                of 3 attempts.
            </td>
        </tr>
    </tbody>
</table>

<!-- password -->
<span id="auth_flow"></span>
<div>
    <h2>POST /oauth/token (password authentication)<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a>
    </h2>
    <p>Authentication using username/password.</p>
    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "grant_type": "password",
                "username": "[[user]]",
                "password": "[[password]]"
            }        
        </pre>
    <p><strong>Response:</strong></p>
    <table>
        <thead class="thead2">
            <th>Code</th>
            <th>Response</th>
        </thead>
        <tbody class="tbody2">
            <tr>
                <td>200</td>
                <td>
                    <code>
{
    "access_token": "[[jwt token data]]",
    "token_type": "bearer",
    "refresh_token": "[[refresh token value]]",
    "expires_in": [[number of seconds till expiration]]
}       
                    </code>
                </td>
            </tr>
            <tr>
                <td>400</td>
                <td>
                    <p>
                        Bad request, malformed data, etc.
                        May occur if a password or username are malformed, for example longer than 64 characters.
                    </p>
                    <code>
{
    "error": "auth_error",
    "error_description": "[[error explanation]]"
}       
                    </code>
                </td>
            </tr>
            <tr>
                <td>401</td>
                <td>
                    <p>Not authorized</p>
                    <code>
{
    "error": "not_authorized",
    "error_description": "[[error explanation]]"
}       
                    </code>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- refresh_token -->
<span id="refresh"></span>
<div>
    <h2>POST /oauth/token (refresh token)<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Refresh token. A valid (also expired) JWT bearer token is required to refresh the token.</p>
    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
            Authorization: bearer [[access_token]] (optional)
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "grant_type": "refresh_token",
                "refresh_token": "[[refresh token value]]"
            }        
        </pre>
    <p><strong>Response:</strong></p>
    <table>
        <thead class="thead2">
            <th>Code</th>
            <th>Response</th>
        </thead>
        <tbody class="tbody2">
            <tr>
                <td>200</td>
                <td><code>
{
    "access_token": "[[jwt token data]]",
    "token_type": "bearer",
    "refresh_token": "[[refresh token data]]"
}       
                </code></td>
            </tr>
            <tr>
                <td>400</td>
                <td>
                    <p>Bad request, malformed data</p>
                    <code>
{
    "error": "auth_error",
    "error_description": "[[error explanation]]"
}       
                    </code>
                </td>
            </tr>
            <tr>
                <td>401</td>
                <td>
                    <p>Not authorized, error - invalid_token. Occurs when refresh token does not exist. Refresh token
                        may be deleted by background server thread when
                        it expires or after events like 3 unsuccessful attempts to authorize using PIN.</p>
                    <code>
{
    "error": "invalid_token",
    "error_description": "[[error explanation]]"
}       
                        </code>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<!-- pin -->
<span id="pin"></span>
<div>
    <h2>POST /oauth/token (pin)<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Authentication using PIN and JWT bearer token. This flow allows to enter just a short pin and provide an
        existing identity token to relogin.</p>
    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
            Authorization: bearer [[access_token]]
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "grant_type": "pin",
                "pin": "[[pin]]"
            }        
        </pre>
    <p><strong>Response:</strong></p>
    <table>
        <thead class="thead2">
            <th>Code</th>
            <th>Response</th>
        </thead>
        <tbody class="tbody2">
            <tr>
                <td>200</td>
                <td>
                    <code>
{
    "access_token": "[[jwt token data]]",
    "token_type": "bearer",
    "refresh_token": "[[refresh token data]]",
    "expires_in": [[number of seconds till expiration]]
}       
                    </code>
                </td>
            </tr>
            <tr>
                <td>400</td>
                <td>
                    <p>Bad request, malformed data.
                        Occurs when pin value is empty or incorrect. There is no validation happens in this case.
                        Pin cannot be longer than 6 characters.</p>
                    <code>
{
    "error": "invalid_token",
    "error_description": "[[error explanation]]"
}       
                    </code>
                </td>
            </tr>
        </tbody>
    </table>

</div>