<span id="token"></span>
<div>
    <h2>/POST /oauth2/(server_id)/api/v1/token<a href="#top"
        style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
<p>Retrieve id, access and/or refresh token.</p>
<p>
    server_id - is a parameter, defined in the config.json file, if not present a value "default" will
    be used.
</p>
    
<p><strong>Request query parameters.</strong></p>
<table>
    <thead class="thead">
        <th>Parameter</th>
        <th>Description</th>
        <th>Flow</th>
    </thead>
    <tbody class="tbody">
        <tr>
            <td>code</td>
            <td>Code received via authorization callback using authorization code or PKCE flow. This is 
                one-time use only code to exchange it for a token(s).</td>
            <td>
                Authorization code, PKCE
            </td>
        </tr>
        <tr>
            <td>code_verifier</td>
            <td>original value used to calculate a hash in code_challenge</td>
            <td>PKCE</td>
        </tr>
        <tr>
            <td>grant_type</td>
            <td>Determines a current flow. Valid values are: 
                <strong>authorization_code</strong> <strong>refresh_token</strong>,<strong>password</strong>,
                <strong>pin</strong> (for pin grant id_token_hint is required)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>password</td>
            <td>user password, required for password grant</td>
            <td>Resource owner</td>
        </tr>
        <tr>
            <td>redirect_uri</td>
            <td>Redirect, should match provided in original /autorhize request. Used to send a result back to a caller.</td>
            <td>Authorization code, PKCE</td>
        </tr>
        <tr>
            <td>refresh_token</td>
            <td>Refresh token, previously obtained. Required if grant_type is <strong>refresh_token</strong></td>
        </tr>
        <tr>
            <td>scope</td>
            <td>Required for <strong>password</strong> grant. For PKCE/Authorization code or refresh token a previously selected scopes 
                will be used or should be a subset of previously obtained scopes.</td>
        </tr>
        <tr>
            <td>username</td>
            <td>Required for <strong>password</strong> grant. Login username.
        </tr>
        <tr>
            <td>id_token_hint</td>
            <td>Required for <strong>pin</strong> grant. ID token, previously received from this authorization server. 
            A token could be expired, but still valid, i.e. having valid signature and theissuer. 
            If non-ID token is provided the operation fails with 403.</td>
        </tr>
        <tr>
            <td><span id="pin"></span>pin</td>
            <td>Required for <strong>pin</strong> grant. Used to revalidate user and issue a new token(s) when a user can 
            revalidate a pin. There are only 3 attempts to do that (unless another number of attempts are configured 
            differently in config.json). After last failed attempt this endpoint will continue respoinding with 403 even 
            a correct pin is provided. NOTE: this api requires an existing refresh token to be still valid on the 
            authorization server level. </td>
        </tr>
        
    </tbody>
</table>
</div>
