<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Registration flow</h3>
<p>To register a request should be sent with minimum required information. If a user can be registered a
    confirmation
    email will be sent. By clicking on the link a user will confirm the registration. There is an API
    (/register/validate) to check the
    registration status while a user is confirming a registration.
</p>

{{definitions}}

<span id="reg_flow"></span>
<div>
    <h2>POST /register<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Register a new user. After this call (if successful) a confirmation email will be sent to a provided email
        address. Email
        will contain a link. By clicking on that link a registration will be confirmed and a user will be created in
        the profile database.</p>
    <p>To receive a reset_token profile_provider.send_token should be set to "on" in config.json. Use this option
        only for debug purposes.
        Otherwise it is possible to automate a registration without using emails.
    </p>
    <pre>
            {
                ...
                "profile_provider": {
                    "send_token": "on",
                    ...
                }
            }        
        </pre>

    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "username": "[[unique username]]",
                "password": "[[password]]",
                "email": "[[email]]"
                "pin": "[[pin]]"
            }        
        </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok (when sending token is not enabled in config.json)</p>
    <pre>
            {
                "registration_code": "[[registration code to verify the registration status]]",
            }       
        </pre>
    <p>200 - ok (when sending token is enabled in config.json)</p>
    <pre>
            {
                "registration_code": "[[registration code to verify the registration status]]",
                "reset_token": "[[reset token]]""
            }       
        </pre>
    <p>reset_token - will be sent to the an email to confirm a registration</p>
    <p>registration_code - could be used to validate the registration</p>
    <p>400 - bad request, malformed data</p>
    <pre>
            {
                "error": "[[error code]]",
                "error_description": "[[error explanation]]"
            }       
        </pre>
    <p><strong>Error codes:</strong></p>
    <p>operation_failed - unable to regiser. check the error_description field</p>
    <p>invalid_registration - some parameters are malformed. check the error_description field</p>
</div>

<div>
    <h2>GET /register/confirm?code=[[code]]<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a>
    </h2>
    <p>Endpoint ro confirm a registration. Please note that a [[code]] may not be identical to a registration_code
        received by accessing /register API.</p>
    <p>There are 2 URLs configured in config.json a user will be navigated to.</p>
    <p>profile_provider.confirmation_success_url - when registration is successful</p>
    <p>profile_provider.confirmation_failure_url - when registration is failed</p>

    <pre>
            {
                ...
                "profile_provider": {
                    ...
                    "confirmation_success_url": "/confirmation_success.html",
                    "confirmation_failure_url": "/confirmation_failure.html",
                    ...
                }
            }        
        </pre>
</div>

<div>
    <h2>POST /register/validate<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Validate new user registration. Registration code should be obtained by /register API call.</p>
    <p><strong>Header:</strong></p>
    <pre>
            X-Client-Id: [[configured client id]]
            X-Client-Secret: [[configured client secret]]
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "registration_code": "[[registration code]]"
            }        
        </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok. Registration is still pending.</p>
    <pre>
            {
                "status": "pending"
            }        
        </pre>
    <p>200 - ok. Registration is completed. User profile has been created.</p>
    <pre>
            {
                "status": "completed"
            }        
        </pre>
    <p>400 - bad request, registraion does not exist or other error</p>
    <pre>
            {
                "error": "[[error code]]",
                "error_description": "[[error explanation]]"
            }       
        </pre>
    <p><strong>Error codes:</strong></p>
    <p>service_error - fatal error. check the error_description field</p>
    <p>invalid_registration - some parameters are malformed, registration does not exist, etc. check the
        error_description field</p>

</div>