<span id="top"></span>
<h1>OpenID Connect & OAuth 2.0</h1>

<p>
    Implementation of the <a href="http://oauth.net/documentation">Oauth 2</a> and <a href="">OpenID Connect</a>
    standards.
    Authorization server supports minimally required functionality according to the provided standards.<br>
    OAuth 2 provides a way to secure API andpoints using scoped tokens, OpenID Connect extends that to support SSO
    (single sign on) sessions.
</p>
<p>
    There is an extension that allows to get tokens using <a href="#pin">PIN authentication.</a>
</p>

{{definitions}}

<h3>List of APIs</h3>
<table>
    <thead class="thead2">
        <th>URL</th>
        <th>Description</th>
    </thead>
    <tbody class="tbody2">
        <tr>
            <td><a href="#well-openid">/.well-known/openid-configuration</a><br>
                <a href="#well-openid">/oauth2/[[server_id]]/.well-known/openid-configuration</a>
            </td>
            <td>
                Auto-discovery endpoint. Retrieve OpenID Connect server configuration.
            </td>
        </tr>
        <tr>
            <td>
                <a href="#well-keys">/.well-known/jwks.json</a><br>
                <a href="#well-keys">/oauth2/[[server_id]]/api/v1/keys</a><br>
            </td>
            <td>
                Retrieve public keys/certificates used to sign issued tokens.
            </td>
        </tr>
        <tr>
            <td>
                <a href="#authorize">/api/v1/authorize</a>
            </td>
            <td>
                Initiate browser-based authorization against authorization server. As the result a caller will
                receive a callback with a token or a code.
            </td>
        </tr>
        <tr>
            <td>
                <a href="#token">/api/v1/token</a>
            </td>
            <td>
                Retrieve id, access and refresh token.
            </td>
        </tr>

        <tr>
            <td>
                <a href="#introspect">/api/v1/introspect</a>
            </td>
            <td>
                Retrieve information about id, access and refresh token.
            </td>
        </tr>

        <tr>
            <td>
                <a href="#revoke">/api/v1/revoke</a>
            </td>
            <td>
                Revoke id or refresh token.
            </td>
        </tr>

        <tr>
            <td>
                <a href="#logout">/api/v1/logout</a>
            </td>
            <td>
                Drop user session and redirect to final logout urul
            </td>
        </tr>

        <tr>
            <td>
                <a href="#userinfo">/api/v1/userinfo</a>
            </td>
            <td>
                Retrieve user metadata.
            </td>
        </tr>

        <tr>
            <td>
                <a href="#verifier_sample">Sample code</a>
            </td>
            <td>Sample code how to create a code_verifier and code_challenge. It is compatible with modern browsers.
            </td>
        </tr>
    </tbody>
</table>

<span id="well-openid"></span>
<!-- /.well-known/openid-configuration -->
<div>
    <h2>GET /.well-known/openid-configuration<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a>
    </h2>
    <h2>GET /oauth2/[[server_id]]/.well-known/openid-configuration<a href="#top"
            style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Get openid metadata. server_id is configured in config.json. If not provided "default" value is used.
    </p>
    <p><strong>Response (typical):</strong></p>
    <pre>
            {% include "jwks.json" %}
        </pre>
</div>

<!-- /.well-known/jwks.json -->
<span id="well-keys"></span>
<div>
    <h2>GET /.well-known/jwks.json, /oauth2/(server_id)/v1/keys<a href="#top"
            style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>

    <p>Get public key(s) information.
    </p>
    <p><strong>Response (when using public key):</strong></p>
    <pre>
            {
                "keys": [
                    {
                        "kty": "RSA",
                        "n": "[[modulus]]",
                        "e": "AQAB",
                        "use": "sig",
                        "alg": "RS512",
                        "kid": "[[key id, should match sighed JWT]]"
                    }
                ]
            }
        </pre>

    <p><strong>Response (when using certificates):</strong></p>
    <pre>
        {
            "keys": [
                {
                    "kty": "RSA",
                    "n": "[[modulus]]",
                    "e": "AQAB",
                    "use": "sig",
                    "alg": "RS256",
                    "kid": "[[key id, should match sighed JWT]]",
                    "x5c": [
                        "[[public certificate]]"
                    ],
                    "x5t": "[[key id, should match sighed JWT]]"
                }
            ]
        }
        </pre>


</div>

<!-- /api/v1/authorize -->
{% include "help_openid_authorize.html" %}

<!-- /api/v1/token -->
{% include "help_openid_token.html" %}

<!-- /api/v1/introspect -->
{% include "help_openid_introspect.html" %}

<!-- /api/v1/revoke -->
{% include "help_openid_revoke.html" %}

<!-- /api/v1/logout -->
{% include "help_openid_logout.html" %}

<!-- /api/v1/userinfo -->
{% include "help_openid_userinfo.html" %}

{% include "help_openid_verifier_sample.html" %}