<span id="top"></span>
<h1>Identity provider server.</h1>

<h3>Public authentication</h3>
<p>Obtain a session token using public authentication. Session token could be used for Authorization code flow.
</p>

{{definitions}}

<span id="auth_public"></span>
<div>
    <h2>POST /api/v1/authn<a href="#top" style="margin-left: 32px;font-size: x-small; ">TOP</a></h2>
    <p>Public authentication API.</p>
    <p><strong>Header:</strong></p>
    <pre>
            none
        </pre>
    <p><strong>Request:</strong></p>
    <pre>
            {
                "username": "[[username]]",
                "password": "[[password]]"
            }
        </pre>
    <p><strong>Response:</strong></p>
    <p>200 - ok. Should have a SUCCESS status. Session token could be used for Authorization code flow.<br>
        <strong>NOTE:</strong>expiresAt time is always in UTC time zone.
    </p>
    <pre>
            {
                "expiresAt": "2021-08-01T22:41:44",
                "status": "SUCCESS",
                "sessionToken": "cukQ3kK8y0GMub\/+wJUGEaPRS0bbDr\/y",
                "profile": {
                    "id": "940d0758-f319-11eb-b48d-a85e453782da",
                    "username": "username",
                    "email": "username@vxpro.com"
                }
            }
        </pre>

    <p>400 - bad request, some parameters are malformed, etc., check error_description field</p>
    <pre>
            {
                "error": "bad_request",
                "error_description": "[[error explanation]]"
            }       
        </pre>
    <p>401 - unauthorized, check error_description field</p>
    <pre>
            {
                "error": "not_authorized",
                "error_description": "[[error explanation]]"
            }       
        </pre>

</div>