<div>
  <h2>POST /register</h2>
  <p>New user registration</p>
  <p><strong>Header:</strong></p>
  <pre>
      X-Client-Id: {{configured client id}}
      X-Client-Secret: {{configured client secret}}
      Authorization: bearer {{access_token}}
  </pre>
  <p><strong>Request:</strong></p>
  <pre>
      {
      }        
  </pre>
  <p><strong>Response:</strong></p>
  <p>200 - ok</p>
  <pre>
      {
      }       
  </pre>
  <p>400 - bad request, malformed data</p>
  <pre>
      {
          "error": "{{error code}}",
          "error_description": "{{error explanation}}"
      }       
  </pre>
  <p><strong>Error codes:</strong></p>


</div>