<html>
  <head><title>{{title}}</title></head>
  <body onload="javascript:document.forms[0].submit()">
   <form method="post" action="{{callback}}">
      {% for key in keys %}
      <input type="hidden" name="{{key}}" value="{{at(values,loop/index)}}"/>
      {% endfor %}
   </form>
  </body>
 </html>