<!DOCTYPE html>
<html>

<head>
  <title>Signing in...</title>
  <meta charset="UTF-8">
  <script type="text/javascript">
    function getParent() {
      try {
        if (window.self === window.top) return window.opener;
      } catch { }
      return window.parent;
    }
    function onLoadHandler() {
      var parentWindow = window.getParent();
      var postData = {
        {% for key in keys %}
        {{key}}:"{{at(values,loop/index)}}",
        {% endfor %}
      };
      if (postData.error_description && window.console) {
        console.error(`error_description: ${postData.error_description}`);
      } 
      if (parentWindow)
        parentWindow.postMessage(postData, '{{referer}}');
    }
    window.addEventListener('DOMContentLoaded', onLoadHandler, false);
  </script>
</head>

<body></body>

</html>