<html>
{% include "vx_head.html" %}
<body class="vxbody">
  {% include "vx_header.html"%}
  {% if exists("splash") %}<div class="splash"></div>{% endif %}
  {% if exists("content") %}
    {{content}}
  {% else %}
    {% if exists("dlg") %}
      {% include "vx_modal.html" %}
    {% endif %}
  {% endif %}
  {% include "vx_footer.html" %}
  {% if exists("scripts") %}
  {% for s in scripts %}
    <script src="{{s}}"></script>  
  {% endfor %}
  {% endif %}
</body>

</html>