{% if existsIn(dlg,"buttons") %}
<div class="modal-footer">
  {% for label in dlg.buttons.labels %}
    {% set button_dismiss="" %}
    {% set button_dismiss="" %}
    {% set button_onclick=0 %}
    {% set button_type="button" %}
    {% set button_clicks = at(dlg.buttons.clicks,loop/index) %}
    {% if button_clicks == "close" %}
      {% set button_dismiss="data-dismiss=\"modal\"" %}
    {% endif %}
    {% if button_clicks == "submit" %}
      {% set button_type="submit" %}
    {% else %}
      {% set button_onclick=1 %}
    {% endif %}
    {% if loop/index == length(dlg.buttons.labels)-1 %}
      {% set button_class="btn-primary" %}
    {% else %}
      {% set button_class="btn-secondary" %}
    {% endif %}
    {% if button_onclick==1 %}
      <button type="{{button_type}}" onclick="{{button_clicks}}"  id="{{at(dlg.buttons.ids,loop/index)}}" class="btn {{button_class}}" {{button_dismiss}}>{{ at(dlg.buttons.labels,loop/index) }}</button>
    {% else %}
      <button type="{{button_type}}" id="{{at(dlg.buttons.ids,loop/index)}}" class="btn {{button_class}}" {{button_dismiss}}>{{ at(dlg.buttons.labels,loop/index) }}</button>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
