<script>
  $(document).ready(function () {
    $('#{{modal_id}}').modal({ backdrop: {{backdrop}}, keyboard: false });
  });
</script>
{% set buttons_included=0 %}
<div class="modal message" id="{{modal_id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{dlg.title}}</h5>
        {% if existsIn(dlg,"close") %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {% endif %}
      </div>
      <div class="modal-body">
        {% if existsIn(dlg,"content") %}
          {{dlg.content}}
        {% endif %}
        {% if exists("form") %} 
        {% if form.valid == "1" %}
        <div class="alert hidden alert-dismissable alert-primary" id="v{{form.id}}">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <span id="m{{form.id}}">test message</span>
        </div>
        {% endif %}
        {% if existsIn(form,"fields") %}
        <form method="POST" action="{{form.action}}" id="{{form.id}}" novalidate>
          {% for field in form.fields.names %}
            {% set field_type=at(form.fields.types,loop/index) %}
            {% if field_type=="hidden"%}
              <input type="{{field_type}}" id="{{field}}" name="{{field}}" value="{{ at(form.fields.defaults,loop/index)}}">
            {% else %}
          <div class="form-group">
            <label for="{{field}}" class="col-form-label">{{at(form.fields.captions,loop/index)}}</label>
            <input type="{{field_type}}" class="form-control" id="{{field}}" name="{{field}}" {% if field_type == "password" %}data-toggle="password" required{% endif %}>
            <div class="invalid-feedback" id="{{field}}-feedback">{{at(form.fields.feedbacks,loop/index)}}</div>
          </div>
            {% endif %}
          {% endfor %}
      
          {% set buttons_included=1 %}
          {% include "vx_buttons.html" %}
        </form>
        {% endif %}{% endif %}
      </div>
    {% if buttons_included==0 %}
    {% include "vx_buttons.html" %}
    {% endif %}
    </div>
  </div>
</div>