<table>
  <thead>
    <th style="width:150px;">Parameter</th>
    <th>Value</th>
  </thead>
  <tbody>
    <tr>
      <td>Version</td>
      <td>{{version}}</td>
    </tr>

    <tr>
      <td>Threads</td>
      <td>{{threads}}</td>
    </tr>

    <tr>
      <td>Ports</td>
      <td>
        <table>
          <thead>
            <th style="width:90px;"></th>
            <th style="width:50px;">http</th>
            <th style="width:50px;">https</th>
          </thead>
          <tbody>
            <tr>
              <td>Configured</td>
              <td>{{httpc}}</td>
              <td>{{httpsc}}</td>
            </tr>
            <tr>
              <td>Runtime</td>
              <td>{{httpr}}</td>
              <td>{{httpsr}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>Token provider</td>
      <td>{{token}}</td>
    </tr>

    <tr>
      <td>Profile provider</td>
      <td>{{profile}}</td>
    </tr>

    <tr>
      <td>Access token TTL</td>
      <td>{{ttl}}</td>
    </tr>

    <tr>
      <td>Refresh token TTL</td>
      <td>{{refresh_ttl}}</td>
    </tr>

    <tr>
      <td>Used memory</td>
      <td>{{alloc}}</td>
    </tr>

  </tbody>
</table>