h2 {
    background-color: lightgray;
    height: 50px;
}

h4 {
    background-color: lightgray;
    height: 25px;
    margin: 3px;
}

p strong {
    color: green;
    font-weight: bold;
}

pre {
    margin: 3px;
}

code {
    white-space: pre;
}

.modal.message {
    /* display: block; */
    padding-top: 64px;
}

.splash {
    background-image: url('images/7860-2.svg');
    min-height: 800px;
    background-repeat: no-repeat;
    /* opacity: 0.8; */
    background-size: contain;
    /* transform: scale(1.2); */
    position: relative;
    top: 250px;
}

/* .modal h5 {
    font-size: 1.25em;
} */

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
    padding-bottom: 48px;
    /* height of the footer */
    box-sizing: border-box;
}

footer {
    background-color: rgb(48, 188, 237);
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    /* display: flex;
    align-items: center;
    right: 0;
    left: 0; */
}

.vxbody {
    background-color: #f9efe7;
}

.vxbody.dark {
    background-color: rgb(254, 228, 203);
}

.vxheader {
    background-color: rgb(48, 188, 237);
    height: 88px;
}

.vxheader .vxtitle {
    font-size: 32;
    color: whitesmoke;
    padding-left: 40px;
    font-weight: 900;
    padding-top: 40px;
    line-height: 2.4;
}

.hidden {
    display: none;
}

.error {
    position: absolute;
    top: 36px;
    color: red;
    font-size: 14px;
    font-weight: 700;
}

table {
    border-collapse: collapse;
}

.in-table thead :first-child {
    padding: 0 8px;
}

.in-table thead :nth-child(2) {
    padding: 0 8px;
}

.in-table thead :nth-child(3) {
    padding: 0 8px;
}

.in-table tr :first-child {
    padding: 0 8px;
}

.in-table tr :nth-child(2) {
    padding: 0 8px;
}

.in-table tr :nth-child(3) {
    padding: 0 8px;
}

/* tableX */

.thead3, .thead2, .thead {
    background-color: lightgray;
}

.thead :first-child {
    width: 190px;
    padding: 0 8px;
}

.thead :nth-child(2) {
    width: 720px;
    padding: 0 8px;
}

.thead :nth-child(3) {
    width: 50px;
}

.tbody tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: lightgray;
}

.tbody tr :first-child {
    border-right: 1px solid;
    border-color: lightgray;
}

/* */

.thead2 :first-child {
    width: 250px;
    padding: 0 8px;
}

.thead2 :nth-child(2) {
    width: 640px;
    padding: 0 8px;
}

.thead2 :nth-child(3) {
    width: 50px;
}

.tbody2 tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: lightgray;
}

.tbody2 tr :first-child {
    border-right: 1px solid;
    border-color: lightgray;
}

/* */

.thead3 :first-child {
    padding: 0 8px;
}

.thead3 :nth-child(2) {
    padding: 0 8px;
}

.thead3 :nth-child(3) {
    padding: 0 8px;
}

.tbody3 tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: lightgray;
}

.tbody3 tr :first-child {
    border-right: 1px solid;
    border-color: lightgray;
}
